* {
    box-sizing: border-box;
}
html, body {
    font-family: sans-serif;
    background-color: #ffffff;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
div.logo {
    margin: 0 0.625rem;
}
h1 {
    color: #000080;
    font-family: serif;
    font-weight: bold;
}
h2, h3 {
    color: #000080;
    font-family: serif;
    font-weight: normal;
}
a:link {
    font-weight: bold;
    text-decoration: none;
}
.intro {
    height: 100vh;
}
.intro-heading {
    font-size: 36px;
    font-family: serif;
    font-weight: bolder;
    color: #000080;
}
.intro-text { 
    width: 400px; 
    font-size: 20px;
}
img.intro-image {
    width: 500px;
    height: 300px;
}
a:hover {
    color: #000080;
    text-decoration: underline;
}
div.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: baseline;
    gap: 30px;
}
div.item {
    flex: initial;
    flex-basis:auto;
    margin: 5px;
}
nav {
    border-bottom: 5px solid #8080eb;
    border-top: 5px solid #8080eb;
    margin-bottom: 1rem;
}
nav ul {
    list-style-type: none;
    text-align: center;
}
nav li {
    width: 12rem;
    color: #000080;
    display: inline-block;
    font-family: serif;
}
ul.expect {
    list-style-type: square;
}
blockquote {
    font-family: cursive;
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    border: 3px solid #8080eb;
    width: 480px;
    height: 14rem;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
}
cite {
    font-size: 1.1rem;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 1rem 0 3rem 0;
}
.copy {
    font-weight: bold;
    font-family: serif;
    font-size: 1.125rem;
    color: #000080;

}

/*contact-page*/

.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
form {
    background-color: #8080eb;
    color: #ffffff;
    width: 70vw;
	max-width: 600px;
	min-width: 400px;
	margin: 0 auto;
    padding: 2.5rem 2rem;
    border-radius: 0.25rem;
}
fieldset{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 2rem;
}
legend {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
label {
    display: block;
    font-size: 1rem;
}
textarea {
    height: 6rem;
    width: 25rem;
    padding: 1rem;
}
select {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: none;
}
button {
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem 0;
    background-color: #ffffff;
    color: #000080;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
button:hover {
    background-color: #000080;
    color: #ffffff;
}
input:not([type="radio"]):not([type="checkbox"]),textarea {
    display: block;
    margin-bottom: 2rem;
    width: 20rem;
    font-family: 'Open Sans' sans-serif;
    font-size: 1rem;
    padding: 0 1rem;
    border-radius: 10px;
    border: none;
}