* {
    box-sizing: border-box;
}
html, body {
    font-family: sans-serif;
    background-color: #fff;
}
h1 {
    color: #000080;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    text-align: center;
}
h2, h3 {
    color: #000080;
    font-family: serif;
    font-weight: bold;
}
a:link {
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #000080;
    text-decoration: underline;
}
/*@media only screen and (min-width: 576px) { 
}
@media only screen and (min-width: 768px) { 
}
@media only screen and (min-width: 992px) { 
}*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.logo {
    width: 100%;
    height: auto;
    /*make logo 250by100*/
}
.logo-name {
    color: #000080;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    font-size: 3vw;
    padding: 0 0.1rem;
}
nav {
    border-bottom: 5px solid #8080eb;
    border-top: 5px solid #8080eb;
    width: 100%;
    margin: 1rem 0;
}
nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
nav li {
    color: #000080;
    font-family: serif;
}
@media only screen and (min-width: 992px) { 
    header {
        margin-top: 0.75rem;
    }
    nav {
        margin: 0 0 1rem 0;
    }
}
section.intro {
    height: 50vh;
    width: 100%;
    background-image: url(images/doctors.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}
.desc {
    margin: 1rem 0 2rem 0;
}
img.board-image {
    width: 100%;
    height: 400px;
}
.intro-text { 
    width: 70%; 
    height: 250px;
    margin: auto;
    text-align: justify;
}
.button {
    text-align: center;
    margin-top: -8rem;
}
button.sign {
    border: 1px solid blueviolet;
    width: 8rem;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
    background-color: #000080;
    color: #fff;
    text-align: center;
}
@media only screen and (min-width: 576px) { 
    section.intro {
        height: 55vh;
        width: 100%;
    }
}
@media only screen and (min-width: 768px) { 
    section.intro {
        height: 70vh;
        width: 100%;
    }
    .desc {
        margin: 3rem 0 4rem 0;
        display: flex;
        align-items: center;
    }
    img.board-image {
        min-width: 500px;
        min-height: 400px;
    }
    .intro-text { 
        min-width: 250px; 
        height: 200px;
        margin: 0 0 0 0.5rem;
        text-align: justify;
    }
    .button {
        text-align: justify;
        margin-top: -1rem;
        padding-left: 0.5rem;
    }
}
@media only screen and (min-width: 992px) { 
    section.intro {
        height: 100vh;
        width: 100%;
    }
    .desc {
        margin: 5rem 0 6rem 0;
        display: flex;
        align-items: center;
    }
    img.board-image {
        min-width: 700px;
        min-height: 400px;
    }
    .intro-text { 
        min-width: 250px; 
        height: 200px;
        margin: 0 0 0 0.5rem;
        text-align: justify;
    }
    .button {
        text-align: justify;
        margin-top: -2rem;
        padding-left: 0.5rem;
    }
}
.opp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px 100px 20px;
}
.schol, .vol, .net {
    width: 350px;
    height: 350px;
    text-align: justify;
}
.schol-title, .vol-title, .net-title {
    text-align: center;
}
.schol-image, .vol-image, .net-image {
    width: 100%;
}
footer {
    text-align: center;
    padding: 1rem 0 3rem 0;
    margin-top: 200px;
}
@media only screen and (max-width: 600px) {
    .opp {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
    }
    .schol, .vol, .net {
        width: 80%;
        height: 350px;
        margin-bottom: 20px;
    }
    .schol-image, .vol-image, .net-image {
        width: 100%;
        height: 170px;
    }
    footer {
        text-align: center;
        padding: 1rem 0 3rem 0;
        margin-top: 20px;
    }
}
.copy {
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.125rem;
    color: #000080;

}
/*contact-page*/

.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
form {
    background-color: #8080eb;
    color: #ffffff;
    width: 70vw;
	max-width: 600px;
	min-width: 400px;
	margin: 0 auto;
    padding: 2.5rem 2rem;
    border-radius: 0.25rem;
}
fieldset{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 2rem;
}
legend {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
label {
    display: block;
    font-size: 1rem;
}
select {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: none;
}
button.submit {
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem 0;
    background-color: #ffffff;
    color: #000080;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
button:hover {
    background-color: #000080;
    color: #ffffff;
}
input:not([type="radio"]):not([type="checkbox"]),textarea {
    display: block;
    margin-bottom: 2rem;
    width: 20rem;
    height: 2rem;
    font-family: 'Open Sans' sans-serif;
    font-size: 1rem;
    padding: 0 1rem;
    border-radius: 10px;
    border: none;
}
textarea {
    height: 6rem;
    width: 25rem;
    padding: 1rem;
}
